<!doctype html>
<html>
<head>
    <style>
        .error{color: red;}
    </style>
</head>
    <body>
        <h1> Sign Up</h1>
        <form method='POST'>
            <label>Username
                <input name="name" type='text'/>
            </label>

            </br>
            <label>Password
                <input name="password" type='text'/>
            </label>

            </br>
            <label>Verify Password
                <input name="password" type="text"/>
            </label>

            </br>
            <label>Email(optional)
                <input name="email" type="text" />
            </label> 
                </br>
                <input type="submit" value="Submit Query" />
        

        </form>
    </body>

</html>