<!doctype html>
<html>
<head>
    <style>
        .error {color: red; }
    </style>
</head>
<body>
    <h1>User Signup</h1>
    <form method='POST' action = "/signup">
        <label>Username 
            <input name="username" type="text" value='{{username}}' />
        </label>
        <p class="error">{{username_error}}</p>
        <label>Password
            <input name="password" type="text" value='{{password}}' />
        </label>

        
        <p class="error">{{password_error}}</p>
        <label> Verify Password
            <input name="password_verify" type="text" value='{{password_verify}}'/>
        </label>
        <p class="error">{{password_verify_error}} </p>
        </br>

        <br>
         <label>Email(optional)
            <input name="email" type="text" value='{{email}}' />
        </label>
        </br>

        </br>
        <input type="submit" value="Submit Query" />
    </form>
</body>
</html>
